@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 @keyframes zoomIn {
    0% {transform:scale(5,5);}
    100% {transform: scale(1,1);}
 }

#hello{
    animation: zoomIn linear 0.25s;
    margin: 0;
    color: white;
    font-family: "Leckerli One", serif;
    font-size: max(12vw,12vh);
}
#greet{
    font-family: "Merienda", sans-serif;
    color: white;
    font-size: 20px;
    animation: fadeIn linear 2s;
    padding-bottom: 100px;
}

.navbar-toggler{
    border:none;
}

.greetings{
    margin: 0;
    text-align: center;
    background-color: #0D0D0D;
    padding-top: 200px;
    padding-bottom: 200px;
}

#profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 10px solid white;
}

.aboutme{
    background-color: #0D0D0D;
    margin: auto;
}
.profile{
    opacity: 0;
    transition: all 1s  ease-in-out;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 70%;
    margin: auto;
    color: white;
}

.profile-active{
    opacity: 1;
}

.education{
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    color:white;
    width: 70%;
}

.abilities{
    opacity: 0;
    transition: 500ms;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    font-size: 20px;
    width: 80%;
}

.abilities2{
    opacity: 0;
    transition: 500ms;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    font-size: 20px;
    width: 80%;
}

.abilities-active{
    opacity: 1;
}

.skill{
    padding-bottom: 50px;
}

.skill-img{
    height: 100px;
    width: 100px;
    border-radius: 50%; 
    transition: 100ms;
}

.skill-img:hover{
    height: 125px;
    width: 125px;
}
.education-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 5px;
    transition: 100ms;
}

.e-row:hover .education-img{
    height: 100px;
    width: 100px;
}
.e-row{
    opacity: 0;
    transition: all 1s ease-in-out;
    padding-top: 20px;
}

.e-row-active{
    opacity: 1;
}

.ep{
    color: rgb(205, 205, 205);
}

.contact{
    padding-top: 100px;
    font-family: "Noto Sans JP";
    color: white;
    font-weight: 900;
    font-size: 40px;
}
.f-img{
    height: 50px;
    width: 50px;
    padding: 10px;
    transition: 100ms;
}

.f-img:hover{
    height: 60px;
    width: 60px;
}

.links{
    color: white;
}

.form-control{
    color: white;
    text-align: center;
    width: 40%;
    background: transparent;
    border: none;
    border-bottom: 1px solid grey ;
    margin: auto;
}

.projects{
    margin: auto;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 100px;
    color: white;
    font-size: 20px;
    width: 80%;
}
.card-container{
    opacity: 0;
    transform: scale(1,0);
    transition: 500ms;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
}

.card-container-active{
    opacity: 1;
    transform: scale(1,1);
}

.card-text{
    color: grey;
}

.card{
    background-color: #0D0D0D;
    transition: 500ms;
}
.card:hover{
    background-color: rgb(29, 29, 29);

}

h2{
    font-family: "Noto Sans JP";
    font-weight: 900;
    font-size: 40px;
}

h3 {
    font-family: "Noto Sans JP";
    font-weight: 100px;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    margin: 0;
    text-align: center;
    background-color: #0D0D0D;
}

p{

    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    color: white;
}

hr{
    
    border: 10px solid ;
    margin: auto;
    border-bottom: none;
    border-radius: 5px;
    border-color: grey;
    width: 10%;
}

form{
    margin-top: 50px;
}

